*, *:before, *:after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header {
  height: 80px;
  background: #ee1e1e;
  width: 100%;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.header .add-book-button {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.add-book-button, .submit-book-button, .button-remove-book {
  padding: 12.5px 17.5px;
  font-size: 16px;
  border: none;
  border-radius: 100px;
  background: black;
  color: white;
  cursor: pointer;
}

.add-book-button:hover, .submit-book-button:hover, .button-remove-book:hover {
  background: rgba(0, 0, 0, 0.9);
}

.add-book-button:focus, .submit-book-button:focus, .button-remove-book:focus {
  outline: none;
}

main {
  height: 100vh;
  width: 100%;
  padding: 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 15px;
  -ms-grid-rows: (250px)[auto-fill];
      grid-template-rows: repeat(auto-fill, 250px);
}

.book {
  border: 1px solid black;
  display: inline-block;
  padding: 30px;
  background: #1183fe;
  position: relative;
}

.book .button-remove-book {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 35px;
}

ul li {
  list-style: none;
  padding: 5px;
  overflow: auto;
}

ul li::-webkit-scrollbar {
  height: 8px;
}

ul li::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}

ul li::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 100px;
}

ul li:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.form-wrapper {
  display: block;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.form-wrapper .form-container {
  height: 350px;
  width: 300px;
  background: #939ffe;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.form-wrapper .form-container .form-header {
  height: 40px;
  width: 100%;
  background: black;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.form-wrapper .form-container .form-header .button-close-form {
  margin-right: 10px;
  padding: 2.5px 5px;
}

.form-wrapper .form-container form {
  width: 90%;
  margin-top: 25px;
  position: relative;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.form-wrapper .form-container input, .form-wrapper .form-container select {
  width: 100%;
  border-radius: 100px;
  border: none;
  padding: 10px 20px;
  text-transform: capitalize;
}

.form-wrapper .form-container input::-webkit-input-placeholder, .form-wrapper .form-container select::-webkit-input-placeholder {
  text-transform: none;
}

.form-wrapper .form-container input:-ms-input-placeholder, .form-wrapper .form-container select:-ms-input-placeholder {
  text-transform: none;
}

.form-wrapper .form-container input::-ms-input-placeholder, .form-wrapper .form-container select::-ms-input-placeholder {
  text-transform: none;
}

.form-wrapper .form-container input::placeholder, .form-wrapper .form-container select::placeholder {
  text-transform: none;
}

.form-wrapper .form-container input:focus, .form-wrapper .form-container select:focus {
  outline: none;
}

.form-wrapper .form-container .submit-book-button {
  margin-top: 40px;
}

.form-display {
  display: block;
}

.form-hide {
  display: none;
}
/*# sourceMappingURL=main.css.map */