*, *:before, *:after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  background-image: url(assets/background.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 100vh;
}

.header {
  height: 80px;
  width: 100%;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .logo-title {
  margin-left: 15px;
  color: #b8a245;
}

.header .logo-title .logo-span {
  color: white !important;
}

.add-book-button, .submit-book-button, .button-remove-book {
  padding: 12.5px 17.5px;
  font-size: 16px;
  border: none;
  border-radius: 100px;
  background: #b8a245;
  color: #3c393e;
  cursor: pointer;
  font-weight: 500;
}

.add-book-button:hover, .submit-book-button:hover, .button-remove-book:hover {
  background: #3c393e;
  color: #b8a245;
}

.add-book-button:focus, .submit-book-button:focus, .button-remove-book:focus {
  outline: none;
}

main {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  -ms-grid-rows: ()[auto-fill];
      grid-template-rows: repeat(auto-fill);
  gap: 12px;
  padding: 30px;
}

.book {
  border: 1px solid black;
  display: inline-block;
  padding: 30px;
  background: #b8483c;
  position: relative;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

.book .button-remove-book {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 2.5px 12px 7.5px 12px;
  color: #3c393e;
  background: #b8a245;
}

.book .button-remove-book:hover {
  color: #b8a245;
  background: #3c393e;
}

ul li {
  list-style: none;
  padding: 5px;
  overflow: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-transform: capitalize;
}

ul li .change-status-button {
  background: #b8a245;
  padding: 2.5px 7.5px;
  cursor: pointer;
}

ul li .change-status-button:hover {
  background: #3c393e;
}

ul li .change-status-button:focus {
  outline: none;
}

ul li::-webkit-scrollbar {
  height: 8px;
}

ul li::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}

ul li::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 100px;
}

ul li:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.form-wrapper {
  display: block;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.form-wrapper .form-container {
  height: 350px;
  width: 300px;
  background: #a6bd9e;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 12px;
}

.form-wrapper .form-container .form-header {
  height: 40px;
  width: 100%;
  background: #b8483c;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.form-wrapper .form-container .form-header .button-close-form {
  margin-right: 10px;
  padding: 2.5px 12px 7.5px 12px;
  background: #b8a245;
  color: #3c393e;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}

.form-wrapper .form-container .form-header .button-close-form:hover {
  background: #3c393e;
  color: #b8a245;
}

.form-wrapper .form-container form {
  width: 90%;
  margin-top: 25px;
  position: relative;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.form-wrapper .form-container input, .form-wrapper .form-container select {
  width: 100%;
  border-radius: 100px;
  border: none;
  padding: 10px 20px;
  text-transform: capitalize;
}

.form-wrapper .form-container input::-webkit-input-placeholder, .form-wrapper .form-container select::-webkit-input-placeholder {
  text-transform: none;
}

.form-wrapper .form-container input:-ms-input-placeholder, .form-wrapper .form-container select:-ms-input-placeholder {
  text-transform: none;
}

.form-wrapper .form-container input::-ms-input-placeholder, .form-wrapper .form-container select::-ms-input-placeholder {
  text-transform: none;
}

.form-wrapper .form-container input::placeholder, .form-wrapper .form-container select::placeholder {
  text-transform: none;
}

.form-wrapper .form-container input:focus, .form-wrapper .form-container select:focus {
  outline: none;
}

.form-wrapper .form-container .submit-book-button {
  margin-top: 40px;
}

.form-display {
  display: block;
}

.form-hide {
  display: none;
}

.status-read {
  background: #a6bd9e;
}

.status-read button {
  background: #3c393e !important;
  color: #b8a245 !important;
}

.status-read button:hover {
  background: #b8a245 !important;
  color: #3c393e !important;
}
/*# sourceMappingURL=main.css.map */